
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>

    <form>

        <div class="form-group">
            <label for="id"> IdCompra: </label>
            <label for="id" name="IdCompra">@Model.IdCompra </label>
            <input type="hidden" name="IdCompra" value="@Model.IdCompra" />
        </div>

        <div class="form-group">

            <label for="idproveedor"> IdProveedor: </label>
            <label for="nombre" name="IdProveedor">@Model.IdProveedor </label>
            <input type="hidden" name="IdProveedor" value="@Model.IdProveedor" />
        </div>

        <div class="form-group">
            <label for="idproducto"> IdProducto: </label>
            <label for="idproducto" name="IdProducto">@Model.IdProducto </label>
            <input type="hidden" name="IdProducto" value="@Model.IdProducto" />
        </div>

        <div class="form-group">
            <label for="idempleado"> IdEmpleado: </label>
            <label for="idempleado" name="IdEmpleado">@Model.IdEmpleado </label>
            <input type="hidden" name="IdEmpleado" value="@Model.IdEmpleado" />
        </div>
        <div class="form-group">
            <label for="cantidad"> Cantidad: </label>
            <label for="cantidad" name="Cantidad">@Model.Cantidad </label>
            <input type="hidden" name="Cantidad" value="@Model.Cantidad" />
        </div>
        <div class="form-group">
            <label for="fecha"> Fecha: </label>
            <label for="fecha" name="Fecha">@Model.Fecha </label>
            <input type="hidden" name="Fecha" value="@Model.Fecha" />
        </div>

        <div class="form-group">
            <label for="preciototal"> PrecioTotal: </label>
            <label for="preciototal" name="PrecioTotal">@Model.PrecioTotal </label>
            <input type="hidden" name="Fecha" value="@Model.PrecioTotal" />
        </div>


    </form>

</div>