
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo_inicial">FacturasVentas</h2>
<br />
<div class="row">
    <div class="col-lg-9">
        <h2> Inicio </h2>
    </div>

    <div class="col-lg-2">
        <p><a class="btn btn-primary btn-lg" href="/FacturasVentas/Crear" role="button"> Crear Nueva FacturasVentas</a></p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Lista de FacturasVentas
    </div>

    <!--- La Tabla -->
    <table class="table"
           <thead>
               <tr>
                   <th>IdFacturaVenta</th>
                   <th>IdProducto</th>
                   <th>IdEmpleado</th>
                   <th>CedulaCliente</th>
                   <th>PrecioProducto</th>
                   <th>Cantidad</th>
                   <th>PrecioTotal</th>
                   <th>Iva</th>
                   <th>Fecha</th>
                  
                   <th>
               </tr>
           </thead>

    @foreach (var cat in Model)
    {

    <tr>

        <td> @cat.IdFacturaVenta </td>
        <td> @cat.IdProducto </td>
        <td> @cat.IdEmpleado </td>
        <td> @cat.CedulaCliente </td>
        <td> @cat.PrecioProducto </td>
        <td> @cat.Cantidad </td>
        <td> @cat.PrecioTotal </td>
        <td> @cat.Iva </td>
        <td> @cat.Fecha </td>
   

        <td> <a class="btn btn-primary btn-lg " href="/FacturasVentas/Editar/@cat.IdFacturaVenta" role="button">Editar</a> </td>


        <td> <a class="btn btn-primary btn-lg " href="/FacturasVentas/Detalles/@cat.IdFacturaVenta" target="_blank" role="button">Detalles</a> </td>

        <td> <a class="btn btn-primary btn-lg " href="/FacturasVentas/Eliminar/@cat.IdFacturaVenta" role="button">Eliminar</a> </td>

    </tr>
    }
    </table>
</div>

