
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<div>

    <form>

        <div class="form-group">
            <label for="id"> IdCategoria: </label>
            <label for="id" name="IdCategoria">@Model.IdCategoria </label>
            <input type="hidden" name="IdCategoria" value="@Model.IdCategoria" />
        </div>

        <div class="form-group">

            <label for="nombre"> Nombre: </label>
            <label for="nombre" name="Nombre">@Model.Nombre </label>
            <input type="hidden" name="Nombre" value="@Model.Nombre" />
        </div>

        <div class="form-group">
            <label for="ubicacion"> Ubicacion: </label>
            <label for="ubicacion" name="Ubicacion">@Model.Ubicacion </label>
            <input type="hidden" name="Ubicacion" value="@Model.Ubicacion" />
        </div>

    

    </form>

</div>


