
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Titulo_inicial">Empleados</h2>
<br />
<div class="row">
    <div class="col-lg-9">
        <h2> Inicio </h2>
    </div>

    <div class="col-lg-2">
        <p><a class="btn btn-primary btn-lg" href="/Empleados/Crear" role="button"> Crear Nuevo Empleado</a></p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Lista de Empleados
    </div>

    <!--- La Tabla -->
    <table class="table"
           <thead>
               <tr>
                   <th>IdEmpleado</th>
                   <th>PrimerNombre</th>
                   <th>SegundoNombre</th>
                   <th>PrimerApellido</th>
                   <th>SegundoApellido</th>
                   <th>Edad</th>
                   <th>Telefono</th>
                   <th>Direccion</th>
                   <th>TipoEmpleado </th>
               
               
                   <th> </th>
               </tr>
           </thead>

    @foreach (var cat in Model)
    {

    <tr>

        <td> @cat.IdEmpleado </td>
        <td> @cat.PrimerNombre </td>
        <td> @cat.SegundoNombre </td>
        <td> @cat.PrimerApellido </td>
        <td> @cat.SegundoApellido </td>
        <td> @cat.Edad </td>
        <td> @cat.Telefono </td>
        <td> @cat.Direccion </td>
        <td> @cat.TipoEmpleado </td>
  
      
        <td> <a class="btn btn-primary btn-lg " href="/Empleados/Editar/@cat.IdEmpleado" role="button">Editar</a> </td>


        <td> <a class="btn btn-primary btn-lg " href="/Empleados/Detalles/@cat.IdEmpleado" target="_blank" role="button">Detalles</a> </td>

        <td> <a class="btn btn-primary btn-lg " href="/Empleados/Eliminar/@cat.IdEmpleado" role="button">Eliminar</a> </td>

    </tr>
    }
    </table>
</div>

